@font-face {
  font-family: "YoungSerif-Regular";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

body,
html {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background-color: hsl(0, 0%, 86%);
}

p {
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
  font-family: "YoungSerif-Regular", serif;
  font-weight: lighter;
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
  font-family: "YoungSerif-Regular", serif;
  font-weight: 400;
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
}

p,
h3,
li {
  font-family: "Outfit", sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ul,
ol {
  width: calc(100% - 15px); 
  box-sizing: border-box;
  overflow-wrap: break-word;
  padding-left: 5px;
}

li {
  margin: 0 0 10px 20px;
  font-size: 16px;
}

li span {
  position: relative;
  left: 15px;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

strong {
  font-weight: 600;
  color: hsl(24, 5%, 18%);
}

table tr {
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

table tr td {
  font-family: "Outfit", sans-serif;
}

.background-color-wrapper {
  background-color: hsl(30, 18%, 87%);
  height: 100%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  height: 100%;
  width: 550px;
  margin: 75px;
  padding: 50px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.recipe .omelette-image {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.mobile-screen-wrapper {
  display: contents;
}

.recipe .preparation-time {
  padding: 20px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  word-wrap: break-word;
}

.preparation-time h2 {
  color: hsl(332, 51%, 32%);
  font-weight: lighter;
  font-size: 27px;
}

.nutrition-value-table-wrapper {
  overflow-x: auto;
}

.nutrition-values td {
  padding: 20px;
}

.nutrition-values td:first-child {
  text-align: left;
  vertical-align: middle;
  margin-left: 10px;
  color: hsl(24, 5%, 18%);
}

.nutrition-values td:nth-child(2) {
  text-align: left;
  vertical-align: middle;
  color: hsl(14, 45%, 36%);
}

.attribution {
  margin-top: 50px;
  text-align: left;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 700px) {
  .recipe {
    margin: 0;
    width: 100%;
    border-radius: 0;
    padding: 0;
  }

  .recipe .omelette-image {
    border-radius: 0;
  }

  .mobile-screen-wrapper {
    margin: 50px;
    display: block;
  }

  p, li, td {
    font-size: 1.2em;
  }
}
